html {
    height: 100%
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0
}

#map {
    height: 100%
}

svg {
  z-index: 10;
}

a {
    color: #206cdf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
  position: absolute;
  background: rgba(255,255,255, 0.95);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.info-container {
    top: 20px;
    left: 20px;
    padding: 20px;
}

.info-title {
    font-size: 2em;
    font-weight: 300;
}

.info-subtitle {
  font-size: 1.25em;
  font-weight: 300;
}

.info-subsubtitle {
    font-size: 0.75em;
    font-weight: 300;
}

.info-content {
    max-height: 400px;
    max-width: 350px;
    overflow: hidden;
    font-weight: 300;
    transition: max-width 0.3s ease-in-out, max-height 0.4s 0.3s ease-in-out;
}

.info-content.hidden {
    max-height: 0;
    max-width: 0;
    transition: max-height 0.3s ease-in-out, max-width 0.4s 0.3s ease-in-out;
}

.info-heading {
    margin-top: 10px;
    font-weight: 700;
}

.credits-container {
    bottom: 30px;
    right: 20px;
    padding: 10px;
}

.credits-title {
    font-weight: 300;
    cursor: pointer;
}

.credits-content {
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out, max-height 0.3s 0.3s ease-in-out;
}

.credits-content.hidden {
    max-height: 0;
    max-width: 0;
    transition: max-height 0.3s ease-in-out, max-width 0.3s 0.3s ease-in-out;
}

.credit-name {

}

.credit-desc {
  font-weight: 300;
}

.container-close {
    float: right;
    margin-top: 5px;
}

#slider-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 500px;
    height: 80px;
    margin-left: -250px;
    background: rgba(255,255,255, 0.85);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#slider {
    margin: 10px 20px;
}
