html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#map {
    height: 100%
}

.info-title {
    font-size: 2em;
    font-weight: 100;
}

.info-content {
    font-size: 1em;
    margin-top: 10px;
}

#map {
    height: 100%
}

#info-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 350px;
    padding: 20px;
    background: rgba(255,255,255, 0.85);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#slider-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 500px;
    height: 80px;
    margin-left: -250px;
    background: rgba(255,255,255, 0.85);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#slider {
    margin: 10px 20px;
}
